@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Variable", "sans-serif";
  --color-dark: #1d2021;
  --color-light: #f9f5d7;
  --color-light-600: #a89984;
  --color-special: #fe8019;
  --color-accent: #79740e;
  --color-yellow: #d79921;
}
