---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto">
    <section class="max-w-4xl mx-auto mt-10 flex flex-col gap-4">
      <p class="text-xl font-light">
        Follow the roadmap in order to get the best possible result out of this
        course. If you feel stuck, Google it, ask on Stack Overflow, or ask our
        community on Discord.
      </p>
      <div>
        <q>It does not matter how slowly you go as long as you do not stop. </q>
        <cite class="text-light">- Confucius</cite>
      </div>

      <div class="flex flex-col rounded mt-10">
        <div class="border border-neutral-700 p-4 rounded rounded-b-none">
          <h2 id="the-beginning" class="text-yellow text-lg font-medium">
            The Beginning
          </h2>
        </div>
        <ul
          class="border border-neutral-700 border-t-0 p-6 rounded rounded-t-none space-y-3"
        >
          <li
            class="border-b border-neutral-700 pb-3 last:border-b-0 last:pb-0"
          >
            <a
              href="/go/the-beginning/why-go"
              class="block p-3 rounded-lg hover:bg-neutral-800 transition-colors duration-200 hover:text-special font-medium"
            >
              Why Go?
            </a>
          </li>
          <li
            class="border-b border-neutral-700 pb-3 last:border-b-0 last:pb-0"
          >
            <a
              href="/go/the-beginning/installing-go"
              class="block p-3 rounded-lg hover:bg-neutral-800 transition-colors duration-200 hover:text-special font-medium"
            >
              Installing Go
            </a>
          </li>
          <li
            class="border-b border-neutral-700 pb-3 last:border-b-0 last:pb-0"
          >
            <a
              href="/go/the-beginning/making-your-first-program"
              class="block p-3 rounded-lg hover:bg-neutral-800 transition-colors duration-200 hover:text-special font-medium"
            >
              Making Your First Program
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col rounded mt-10">
        <div class="border border-neutral-700 p-4 rounded rounded-b-none">
          <h2 id="the-beginning" class="text-yellow text-lg font-medium">
            The Basics
          </h2>
        </div>
        <ul
          class="border border-neutral-700 border-t-0 p-6 rounded rounded-t-none space-y-3"
        >
          <li
            class="border-b border-neutral-700 pb-3 last:border-b-0 last:pb-0"
          >
            <a
              href="/go/the-basics/variables-and-types"
              class="block p-3 rounded-lg hover:bg-neutral-800 transition-colors duration-200 hover:text-special font-medium"
            >
              Variables and Types
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
