<header class="flex text-special py-4">
  <nav class="container mx-auto flex justify-between items-center">
    <h1 class="font-medium text-lg">The Gopher Project</h1>
    <ul class="flex gap-6">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/support">Support</a>
      </li>
    </ul>
  </nav>
</header>
