<header class="flex text-special py-4 border-b border-neutral-700">
  <nav class="container mx-auto flex justify-between items-center">
    <a href="/" class="font-medium text-lg">The Gopher Project</a>
    <ul class="flex gap-6">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/support">Support</a>
      </li>
    </ul>
  </nav>
</header>
